.flash {
  width: 100%;
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  &.notice {
    color: rgb(161, 161, 114);
    background-color: rgb(255, 255, 208);
  }
  &.error {
    color: var(--color-primary);
    background-color: var(--color-primary-bg);
  }
}
